* {
  box-sizing: border-box;
  margin: 0;
}



/*RESPONSIVE DESIGN */

@media (max-width:704px) {
  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .link {
    font-size: 13px;
  }


  .our__menu {
    color: rgb(0, 98, 65);
  }

  .img_pic {
    max-width: 15rem;
  }

  .history {
    flex-direction: column;
  }

  .who_we_are {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

}





/*NAVIGATION SECTION*/

nav {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.left-side-nav {
  margin: 1rem 2rem;
}

.starbucks-logo {
  width: 4.3rem;
}


.right-side-nav {
  margin: 1rem 2rem;
  display: flex;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.link {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.link:hover {
  color: rgb(0, 98, 65);
}

.link::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 98, 65);
  ;
}

.link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 98, 65);
  border-radius: 3px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.25s;
}

.link:hover::before {
  scale: 1;
  transform-origin: left;
}


/*MAIN*/

.image__shop {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
}


.intro {
  background-color: rgba(242, 240, 235, 0.76);
}

.intro__string {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 19px;
  color: rgb(0, 98, 65);
  padding-top: 2.4rem;
}


.intro p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  line-height: 1.4rem;
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}


.intro__string::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}


.intro p::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}


/*MENU SECTION*/

.menu {
  margin-top: 3rem;

}

.our__menu {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.our__menu::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 98, 65);
}


.menu__box {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}


.image__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.img_pic {
  width: 30rem;
  height: auto;
  border: none;
}

.img_label {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: rgb(0, 98, 65);
  font-size: 1.1rem;
  font-weight: 700;
  padding: 2rem;
  margin-bottom: 2rem;
}


.img_label::selection {
  background-color: rgb(0, 98, 65);
  color: white;
}



.coffe_learn {
  position: relative;

}

.coffe_background {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
}


.our_coffe_text {
  font-family: 'Poppins', sans-serif;
  max-width: 40rem;
  position: absolute;
  left: 150px;
  top: 200px;
  display: inline-block;
}

.our_coffe_text h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.our_coffe_text h2::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}

.our_coffe_text p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 3rem;
}

.our_coffe_text p::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}


button {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  padding: 13px 23px;
  cursor: pointer;
  font-size: 16px;
  max-width: 200px;
}

button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.6s;
}


/*HISTORY SECTION*/

.history {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem 2rem;
  gap: 1rem;
}

.who_we_are {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

}

.who_we_are h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.who_we_are h2::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}

.who_we_are p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  max-width: 30rem;
  min-width: 25rem;
}

.who_we_are p::selection {
  background-color: rgb(0, 98, 65);
  color: rgb(255, 255, 255);
}

.store_pic {
  min-width: 10rem;
  max-width: 30rem;
}

/*FOOTER*/

footer {
  background-color: rgb(0, 98, 65);
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_logo {
  max-width: 6rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}


footer {
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
}

footer li {
  text-transform:capitalize;
  margin-top: 2rem;
  gap: 1.45rem;
  cursor: pointer;
}
  
